body{
    background-color:  	#FFA500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
#wrap{
    width: 40%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
form{
    padding: 10px;
}
button{
    background-color: #87CEFA;
    border: 1px solid #87CEFA;
    width: 220px;
    padding: 5px;
    color: white;
}